apiVersion: v1
kind: Service
metadata:
  name: mongo
  labels:
    app: mongo
    tier: database
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: mongo
    tier: backend
  ports:
  - port: 27017
    targetPort: 27017
    name: http
    protocol: TCP 
